

body{
  font-family: "tahoma";
  max-width: 1264px;
  min-width: 1264px;
}

input[type="text"], textarea, fieldset.elist > legend, fieldset.elist input[type="text"]{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="text"] {
  padding: 0 20px;
}


textarea, input[type="text"], fieldset.elist > legend {
  border: 2px #47cad1 solid;
  border-radius: 10px;
}

input[type="text"], fieldset.elist, select, fieldset.elist > legend {
  height: 32px;
  font-size: 14px;
}

input[type="text"]:focus {
  background: #47cad1 url("data:image/gif;base64,R0lGODlhEAAQANU5APnoxuvr6+uxPdvb2+rq6ri4uO7qxunp6dPT06SHV+/rx8vLy+nezLO0sbe3t9Ksas+qaaCEV8rKyp2dnf39/QAAAK6ursifZHFxcc/Qzu3mxYyMjExCJnV1dc6maO7u7o+Pj2tXNoaGhtfDpKCDVu3lxM+tcaKEV9bW1qOFVWNjY8KrisTExNra2nBbObGxsby8vO/mu7Kyso9ZAuzs7MSgAIiKhf///8zMzP///wAAAAAAAAAAAAAAAAAAAAAAACH5BAEAADkALAAAAAAQABAAAAaXwJxwSCwOYzWkMpkkZmoAqDQaJdpqAqw2m53NRjlboAarFczomcE0C99o8DgNMVM8Tm3bbYDr9x11DwkzDG5yc2oQJIRCenx/MxoeETM2Q3pxATMlF4MYlo17OAsdLispMyAioIY0BzMcITMTKBasjgssFTMqGxItMjYUoTQBBAQHxgE0wZcfMtDRMi/QrA022NnaNg1CQQA7") no-repeat 2px center !important;
}

input[type="text"]:focus, textarea:focus, select:focus{
  border: 2px #47cad1 solid;
}


label {
    display: block;
    margin: 20px 0 20px 20px;
}

fieldset.um{
  border: 2px #47cad1 solid;
  border-radius: 10px;
  width: 60%;
  height: 420px;

 
}
fieldset.dois{
  border: 2px #47cad1 solid;
  border-radius: 10px;
  width: 50%;
  height: 80px;
 
}