

body{
  font-family: "tahoma";
  max-width: 1264px;
  min-width: 1264px;
}


input[type="text"] {
  padding: 0 20px;
}


textarea, input[type="text"]{
  border: 2px #47cad1 solid;
  border-radius: 10px;
}

input[type="text"], select{
  height: 32px;
  font-size: 14px;
}

input[type="text"]:focus {
  background: #47cad1 url("data:image/gif;base64,R0lGODlhEAAQANU5APnoxuvr6+uxPdvb2+rq6ri4uO7qxunp6dPT06SHV+/rx8vLy+nezLO0sbe3t9Ksas+qaaCEV8rKyp2dnf39/QAAAK6ursifZHFxcc/Qzu3mxYyMjExCJnV1dc6maO7u7o+Pj2tXNoaGhtfDpKCDVu3lxM+tcaKEV9bW1qOFVWNjY8KrisTExNra2nBbObGxsby8vO/mu7Kyso9ZAuzs7MSgAIiKhf///8zMzP///wAAAAAAAAAAAAAAAAAAAAAAACH5BAEAADkALAAAAAAQABAAAAaXwJxwSCwOYzWkMpkkZmoAqDQaJdpqAqw2m53NRjlboAarFczomcE0C99o8DgNMVM8Tm3bbYDr9x11DwkzDG5yc2oQJIRCenx/MxoeETM2Q3pxATMlF4MYlo17OAsdLispMyAioIY0BzMcITMTKBasjgssFTMqGxItMjYUoTQBBAQHxgE0wZcfMtDRMi/QrA022NnaNg1CQQA7") no-repeat 2px center !important;
}

input[type="text"]:focus, textarea:focus{
  border: 2px #47cad1 solid;
}


label,input[type="submit"]{
    display: block;
    margin: 20px 0 20px 20px;
}

fieldset.um{
  border: 2px #47cad1 solid;
  border-radius: 10px;
  width: 60%;
  height: 420px;

 
}
fieldset.dois{
  border: 2px #47cad1 solid;
  border-radius: 10px;
  width: 50%;
  height: 80px;
 
}

th{
  background: #47cad1;
  border-radius: 2px;
}
td{
  background: grey; 
  background: rgba(0,0,0,0.2);
  border-radius: 2px;
}